<h2>Salut et bienvenue sur Rahulax !</h2>

<p>
    Merci de t'être inscrit sur rahulax.fr, après confirmation de ton email tu pourras modifier et complèter ton avatar,
    ajouter des commentaires, mettre des notes, te lier d'amitié avec d'autres utilisateurs et leur envoyer des messages privés,
    te créer une liste de lecture pour pratiquer tes méditations préférées ! </br>
    Mais tu sera surtout membre de rahulax et ça c'est top ! c'est comme une petite famille et t'es probablement pas là par hasard :) </br></br>

    Si tu as des questions, des remarques ou demandes particulières tu peux répondre à ce mail ! </br>



    <a href="{{ signedUrl }}">Confirme ton email</a></br>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
